.not-found-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
  }
  .not-found-image {
    height: 30vh;
  }
  .not-found-para {
    color: white;
    font-size: 30px;
    font-weight: bold;
  }
  .go-home-button {
    color: white;
    background-color: rgb(245, 104, 245);
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
  }
  